/*Mobile style*/

@media screen and (max-width: 500px) {  

    #tooplate_wrapper.container{
    	padding: 0;
    	border-radius: none;
    }

    #site_title h1 a {width: 100%;}

    #translate_links{
    	padding: 0 0 1em 0;
    	text-align: center;
    	margin: 0 auto;
    	float: none;
    }

    
    #tooplate_content {
        width: 100%;
        margin: 0;
    }

    .tooplate_sidebar {
        width: 100%;
    }







}